<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>This is Andrew Cahoon's profile</h1>
  <h3>Hello, I am creator of this app, and the sole author.<br>
      I had intended to integrate this app with the speedrun API<br>
      but I could not figure out how to parse json objects in<br>
      the API, as the objexts were organized the following manner<br>
      data: :id: ... : ... . I apologize for the inconvenience<br>
  </h3>
</div>

<div class="row">
  <div class="col-sm-4">
    <img src="./public/images/Me.jpg" alt="authors photo" width = "100">
  </div>
  <div class="col-sm-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>googlename</td>
            <td>Andrew Cahoon </td>
          </tr>
          <tr>
            <td>googleemail</td>
            <td> acahoon@brandeis.edu </td>
          </tr>
          <tr>
            <td>username</td>
            <td>aCahoon </td>
          </tr>
          <tr>
            <td>age</td>
            <td>34 </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<%- include('bootfooter') -%>
