<%- include('bootheader') -%>
<%- include('menubar') -%>
<h2>Unforunately this page is not fully functional. I was unable to parse
  the json object that this page gets, so while the json array is retrieved,
  I was not successful in figuring out how to parse it. sorry for the inconvenience
</h2> 
<form method = "post" action ="findGame">
  Browse for a game: <input type = "String" name ="game">
  <input type ="submit">
</form>
  <a href = "/"> here is a link back to the index</a>
</h2>
