

  <div class="jumbotron">
    <h1> Authentication Demo </h1>
    <p>Welcome to the Authentication Demo </p>
    <ul>
      <li><a href ="/gameSearch">Look for a game from SpeedRun.com</a></li>
      <li><a href = ''
      <% if (loggedIn) {%>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/mySpeedRuns">See your previous times </a></li>
      <li><a href="/submitRun">Submit a new speedrun </a></li>
      <li><a href="/viewSpeedRuns">Look at anyone's speedrun </a></li>
      <% } else { %>
        <li><a href="/login">You must login to access most features</a></li>
      <%}%>
    </ul>
  </div>
